.container{
    height: 800px;
}
.left-side-container{
    border: 2px solid red;
    height: 800px;
}
.right-side-container{
    border: 2px solid gold;
    height: 800px;
}
.left-side-container-top,
.right-side-container-top,
.right-side-container-bottom
{
    height: 50px;
    background-color: rgb(199, 195, 191);
}
div.user img{
    border-radius: 50%;
    width: 40px;
}
/* .right-side-container-bottom input{
    

} */
.right-side-main{
    background-image: url('../img/mine.jpg');
    height: calc(100% - 100px);
}
div .banner{
    background-color: rgb(142, 218, 252);
    height: 4rem;
}
#search{
    width: 100%;
}
.user{
    border: 2px solid black;
    height: 100%;
    width: 40%;
}
.user-tools{
    border: 2px solid black;
    height: 100%;
    width: 40%;
}
.right-side-left-tools,
.right-side-right-tools{
    border: 2px solid black;
    width: 15%;
}
.right-side-central-input{
    width: calc(100% - 30%);
    border:2px solid red;
}

img.contact-img{
    width: 50px;
    border-radius: 50%;
}

.prova{
    display: inline-block;
}
ul{
    list-style-type: none;
}
.fa-bell-slash{
    font-size: 1.5rem;
}