
.left-side-container{
    border: 4px solid gray;
    height: 800px;
}
.right-side-container{
    border: 4px solid gray;
    height: 800px;
}
.left-side-container-top,
.right-side-container-top,
.right-side-container-bottom
{
    height: 50px;
    background-color: rgb(199, 195, 191);
}
div.user img{
    border-radius: 50%;
    width: 50px;
}
.right-side-main{
    background-image: url('../img/mine.jpg');
    height: calc(100% - 100px);
    overflow-y: auto;
}
div .banner{
    background-color: rgb(142, 218, 252);
    height: 4rem;
}
#search{
    width: 100%;
}
.user{
    
    height: 100%;
    width: 60%;
}
.user-tools{
    height: 100%;
    width: 20%;
}
.right-side-left-tools,
.right-side-right-tools{
    width: 15%;
}
.right-side-central-input{
    width: calc(100% - 30%);
}
img.contact-img{
    width: 50px;
    border-radius: 50%;
}
.prova{
    display: inline-block;
}
ul{
    list-style-type: none;
}
.fa-bell-slash{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 50%;
    border: 10px solid white;
    vertical-align: text-bottom;
}

.my-thumbnail.active{
    background-color: lightgray;
}
.my-thumbnail:hover{
    background-color: gray;
}

.sent{
    background-color: lightgreen;
    align-self: flex-end;
    border-radius: 40px;
}
.received{
    background-color:white;
    align-self: flex-start;
    border-radius: 40px;
}
