<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/d52bda3773.js"crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css”>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
</head>
<body>
    <main id="app">
        <div class="container">
            <div class="row g-0">
                <div class="col-5 left-side-container">
                    <div class="left-side-container-top d-flex justify-content-between">
                        <div class="user ">
                            <img src="/img/avatar_io.jpg" class="img-fluid" alt="">
                            <span>Sofia</span>
                        </div>
                        <div class="user-tools d-flex justify-content-around ">
                            <i class="fa-solid fa-circle-notch align-self-center"></i>
                            <i class="fa-solid fa-message align-self-center"></i>
                            <i class="fa-solid fa-ellipsis-vertical align-self-center"></i>
                        </div>
                    </div>
                    <div class="banner p-1">
                        <i class="fas fa-bell-slash"></i>
                        
                            <ul class="prova">
                                <li> Ricevi notifiche di nuovi messaggi</li>
                                <li>fdsfdsfdf</li>
                            </ul>
                
                    </div>
                    <input v-model="search" type="text" name="search" id="search" placeholder="Cerca o inizia una nuova chat">
                    <div @click="chatSwap(index)" v-for="(element, index) in searchList()" class="position-relative my-thumbnail" :class="(activeIndex === index) ? 'active' : ''">
                        <img :src="'./img/avatar' + element.avatar + '.jpg'" alt="" class="img-fluid contact-img align-top">
                        <ul class="prova">
                            <li class="fw-bold">{{element.name}}</li>
                            <li>Ultimo messaggio inviato</li>
                        </ul>
                        <span class="position-absolute end-0 px-2">12:00</span>
                    </div>


                </div>
                <div class="col-7 right-side-container">
                    <div class="right-side-container-top d-flex justify-content-between">
                        <div class="user d-flex" >
                            <img :src="'./img/avatar' + contacts[activeIndex].avatar + '.jpg'" alt="" class="img-fluid">
                            <ul>
                                <li class="fw-bold">{{contacts[activeIndex].name }}</li>
                                <li>Ultimo accesso oggi alle 12</li>
                            </ul>
                            
                        </div>
                        <div class="user-tools d-flex justify-content-around">
                            <i class="fa-solid fa-magnifying-glass align-self-center"></i>
                            <i class="fa-solid fa-paperclip align-self-center"></i>
                            <i class="fa-solid fa-ellipsis-vertical align-self-center"></i>
                        </div>
                </div>

                <div class="right-side-main d-flex flex-column p-5">
                   <div v-for="(message, contentIndex) in contacts[activeIndex].messages" class=" mb-2 p-2  deleteIcon" :class="(message.status == 'received') ? 'received' : 'sent'" :class="'ciao'">
                       {{message.message}}
                   <span @click="deleteContent(contentIndex)" >. </span>

                   </div>
                   
                       
                </div>


                <div class="right-side-container-bottom d-flex ">

                    <div class="right-side-left-tools d-flex justify-content-center">
                        <i class="fa-solid fa-face-smile align-self-center"></i>
                    </div>
                    <div class="right-side-central-input">
                        <input type="text" class="w-100 mt-2" placeholder="Scrivi un messaggio..." v-model="newContent"
                        @keyup.enter="sendNewContent(contacts, activeIndex, newContent)">
                    </div>
                    <div class="right-side-right-tools d-flex justify-content-center">
                        <i class="fa-solid fa-microphone align-self-center"></i>
                    </div>

                </div>
            </div>
        </div>

        

    </main>
    <script type="text/javascript" src="js/main.js"></script>  
</body>
</html>

